body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f3f7;
}

:root {
    --primary: #1a3360;
    --secondary: #f7ecec;
    --bg: #050505;
    --dark: #1f2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
nav {
    background: #0e0a3d;
    padding: 15px 40px;
    display: flex;
    
    align-items: center;
    box-shadow: 0 4px 10px rgba(231, 227, 227, 0.923);
}
nav h1 {
    color:rgb(216, 214, 214);
    padding: 0px 20px;
    text-align: left;
    
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav button {
    background: var(--primary);
    color: rgb(241, 238, 238);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

nav button:hover {
    background: var(--secondary);
}
.deogiri{
    margin-left: auto;
    justify-content: space-evenly;
    color: #fcf6f6;
}
.college{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 15px;
      padding: 50px;
      background:#a2d3c1 ;
       border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(1, 23, 94, 0.1);

}
footer {
    background: #1e293b;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.container {
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.full {
  width: 100%;
}

input, select {
  width: 30%;
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.edit {
  background: #28a745;
}

.delete {
  background: #dc3545;
}