/* Contact Page */
.contact-container {
    max-width: 1000px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1rem;
}

.contact-info,
.contact-form {
    background:#fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}



.contact-form h3 {
    margin-bottom: 1rem;
    color: #1e293b;
}

.contact-info p {
    margin-bottom: 0.7rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: #38bdf8;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #0284c7;
}

#formMsg {
    margin-top: 10px;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr;
    }
}
footer {
    background: #1e293b;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
nav {
    background: #0e0a3d;
    padding: 15px 40px;
    display: flex;
    
    align-items: center;
    box-shadow: 0 4px 10px rgba(231, 227, 227, 0.923);
}
nav h1 {
    color:rgb(216, 214, 214);
    padding: 0px 20px;
    text-align: left;
    
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav button {
    background: var(--primary);
    color: rgb(241, 238, 238);
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

nav button:hover {
    background: var(--secondary);
}
.deogiri{
    margin-left: auto;
    justify-content: space-evenly;
    color: #fcf6f6;
}
.college{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 15px;
      padding: 50px;
      background:#a2d3c1 ;
       border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(1, 23, 94, 0.1);

}
:root {
    --primary: #1a3360;
    --secondary: #f7ecec;
    --bg: #050505;
    --dark: #1f2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
.page-header {
    background: #a4e67b;
    color: #0b0101;
    text-align: center;
    padding: 2rem 1rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}